

.content {
    padding: 0 0.970rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
:focus {
    outline: none;
}


.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
    height: 4.375rem;
}
.top-navigation .logo {
    height: 4.375rem;
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointe100r;
    color: #333333;
}


.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

 
.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
.introduction .half {
    width: 49%;
    padding: 0 0.938rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.125rem;
    line-height: 1.2;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}




.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices > li {
    width: 33.3333333%;
    float:left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

 
